@using Newtonsoft.Json;
@using System.Text;
@model ImageModel
@{
    ViewData["Title"] = "ImageDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string jsonImages = Context.Session.GetString("ImageModels");
    Console.WriteLine(Encoding.UTF8.GetBytes(jsonImages).Length + " Byte stored in sessionstorage 'ImageModels' ");
    //Console.WriteLine(images);
    List<ImageModel> imageModels = JsonConvert.DeserializeObject<List<ImageModel>>(jsonImages);

    int imageIndex = Int32.Parse(Context.Session.GetString("CurrentIndex"));

    //Get the image data in bytes from the imageModel and convert it to base 64
    var imageDataBase64 = Convert.ToBase64String(imageModels[imageIndex].ImageData);
    var imageName = imageModels[imageIndex].ImageName;
    var Categories = ViewData["Categories"] as List<Category>;
}
<body id="pagebody">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Left Column -->
                <input id="boxesFromDb" value="" style="display: none;" />

                @if (imageDataBase64 != null)
                {
                    <img id="sourceImage" src="data:image/jpeg;base64,@imageDataBase64" alt="@imageName" style="display: none;" />
                    <div id="imageName" style="display: none;">@imageName</div>
                }

                <canvas id="skiaCanvas" class="img-fluid" style="max-width: 100%;" width="500" height="500"></canvas>

                <div class="input-group mb-3">
                    <select class="form-control" id="boxName" style="display: none;" aria-label="Select Box" aria-describedby="button-addon2">
                        @foreach (Category category in Categories)
                        {
                            <option value="@category.CategoryName">@category.CategoryName</option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="button-addon2" style="display: none;">Save Box</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Right Column -->
                <div class="card">
                    <div class="card-body" style="max-height: 500px; overflow-y: auto;">
                        <h1 class="card-title">Overview</h1>
                        <div id="overview" class="card-text"></div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-secondary" id="uploadButton">Save Image</button>
                </div>
                <div class="text-center mt-3">
                    <hr />
                    <div id="messageBox" class="text-success" style="display: none;">Saved to database</div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between" style="height: 200px">
            @if (imageModels.Count() - 1 > imageIndex)
            {
                <form method="post" asp-action="NextImagePage">
                    <button type="submit" class="btn btn-primary">Next Image</button>
                </form>
            }
        </div>

        <div class="fixed-bottom fixed-right m-3" style="z-index:0">
            <form method="post" asp-action="StopImagePage">
                <button type="submit" class="btn btn-outline-danger">STOP</button>
            </form>
        </div>
    </div>
</body>

<style>
   

    #skiaCanvas {
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
