@model ImageModel

@if (Model != null && Model.ImageData != null)
{
    <img id="sourceImage" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageData)" alt="@Model.ImageName" style="display: none;" />
    <div id="imageName" style="display:none;">@Model.ImageName</div>
}

<canvas id="skiaCanvas" width="800" height="600"></canvas>

<div class= "input-group mb-3">
    <input type="text" class="form-control" id="boxName" style="display: none;" placeholder="Box name" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button-addon2" style="display: none;">Save Box</button>
</div>


<div id="OverviewContainer">
    <h1>Overview</h1>
    <div id="overview"></div>

    <div id="downloadDiv">
        <div class="btn btn-primary" id="downloadButton">Download</div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>