@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="file">Choose an Image</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Upload Image</button>
}