@{
    //Monitoring to check if all session variables are cleared
    Context.Session.Clear();
    Console.WriteLine(Context.Session.GetString("Image"));
    Console.WriteLine(Context.Session.GetString("ImageModels"));
    Console.WriteLine(Context.Session.GetString("CurrentLoadedImage"));
    Console.WriteLine(Context.Session.GetString("ProcessedGalleryView"));

}

@using (Html.BeginForm("UploadImages", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="files">Choose Image(s)</label>
        <input type="file" class="form-control-file" id="files" name="files" multiple>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary" id="uploadButton" disabled>Upload Image(s)</button>
}


<div id="imagePreview"></div>

<div class="fixed-bottom" style="right: 20px; margin: 3px; width: fit-content;">
    <form method="post" asp-action="GetImagesAndBoxesYOLOFromDb">
        <button type="submit" class="btn btn-primary" id="downloadButton">Download Image Data</button>
    </form>
    <!--
    <form method="post" asp-controller="Image" asp-action="LoadImage" style="margin-top: 10px;">
        <div class="input-group">
            <input type="text" name="Id" class="form-control" placeholder="Enter Image ID" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Load Image</button>
            </div>
        </div>
    </form>
    -->
    <form method="post" asp-controller="Image" asp-action="LoadProcessedGallery" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Processed Gallery View</button>
    </form>
    <form method="post" asp-controller="Image" asp-action="LoadUnprocessedGallery" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Unprocessed Gallery View</button>
    </form>
</div>

<div style="position: fixed; bottom: 20px; right: 20px; display: flex; flex-direction: column;">
    <form method="post" asp-action="LoadImagesFromDB">
        <button type="submit" class="btn btn-primary" name="amount" value="10">Load 10 Images</button>
    </form>
    <form method="post" asp-action="LoadImagesFromDB">
        <button type="submit" class="btn btn-primary" name="amount" value="50">Load 50 Images</button>
    </form>
    <form method="post" asp-action="LoadImagesFromDB">
        <button type="submit" class="btn btn-primary" name="amount" value="0">Load All Images</button>
    </form>
</div>




@section Scripts {
    <style>
        .preview-image {
            max-width: 300px;
            margin: 5px;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const fileInput = document.querySelector("#files");
            const imagePreview = document.querySelector("#imagePreview");
            const uploadButton = document.querySelector("#uploadButton");

            fileInput.addEventListener("change", function () {
                imagePreview.innerHTML = ""; // Clear previous previews

                for (const file of fileInput.files) {
                    const image = document.createElement("img");
                    image.className = "preview-image";

                    const reader = new FileReader();

                    reader.onload = function (e) {
                        image.src = e.target.result;
                        imagePreview.appendChild(image);
                    };

                    reader.readAsDataURL(file);
                }

                // Disable button if there are no files uploaded
                if (fileInput.files.length > 0) {
                    uploadButton.removeAttribute("disabled");
                } else {
                    uploadButton.setAttribute("disabled", "disabled");
                }

            });
        });
    </script>
}