@using Newtonsoft.Json;
@using System.Text;

@model ImageProcessed;

@{
    ViewData["Title"] = "LoadedImage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string jsonImage = Context.Session.GetString("Image");
    Console.WriteLine(Encoding.UTF8.GetBytes(jsonImage).Length + " Byte stored in sessionstorage 'Image' ");
    //Console.WriteLine(images);
    ImageProcessed image = JsonConvert.DeserializeObject<ImageProcessed>(jsonImage);

    //Get the image data in bytes from the imageModel and convert it to base 64
    var imageDataBase64 = Convert.ToBase64String(image.ImageData);
    var boxes = image.Boxes;
    var Categories = ViewData["Categories"] as List<Category>;
}
<body id="pagebody">
    <input id="boxesFromDb" value="@boxes" style="display:none" />

    <img id="sourceImage" src="data:image/jpeg;base64,@imageDataBase64" alt="picture" style="display: none;" />

    <canvas id="skiaCanvas" width="500" height="500"></canvas>

    <div class="input-group mb-3">
        <select class="form-control" id="boxName" style="display: none;" aria-label="Select Box" aria-describedby="button-addon2">
            @foreach (Category catagory in Categories)
            {
                <option value="@catagory.CategoryName">@catagory.CategoryName</option>
            })
        </select>
        <button class="btn btn-primary" type="button" id="button-addon2" style="display: none;">Save Box</button>
    </div>


    <div id="OverviewContainer">
            <h1>Overview Id: @Context.Session.GetString("CurrentLoadedImage")</h1>
        <div id="overview"></div>

        <div id="downloadDiv">
            @* <div class="btn btn-primary" id="downloadButton">Download</div> *@
            <div class="btn btn-secondary" id="uploadButton">Save Image</div>
        </div>
        <hr />
        <div id="messageBox" style="color: green; display:none">Saved to database</div>

    </div>


    <div class="fixed-bottom fixed-right m-3" style="width:100px">
        <form method="post" asp-action="StopImagePage">
            <button type="submit" class="btn btn-outline-danger">STOP</button>
        </form>
    </div>
</body>
<style>
    #OverviewContainer {
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        overflow: auto;
    }

    .overview-box {
        border: 1px #9FA6B2;
        border-radius: 3px;
        padding: 3px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    #skiaCanvas {
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>