@using Newtonsoft.Json;
@using System.Text;

@model Image

@{
    string jsonImages = Context.Session.GetString("ProcessedGalleryView");
    Console.WriteLine(Encoding.UTF8.GetBytes(jsonImages).Length + " Byte stored in sessionstorage 'ProcessGalleryView' ");
    //Console.WriteLine(images);
    List<ImageProcessed> images = JsonConvert.DeserializeObject<List<ImageProcessed>>(jsonImages);
}

<body id="PageBody">
    <div class="container">
        <div class="row">
            @foreach (ImageProcessed image in images)
            {
                <div class="col-md-4">
                    <input id="boxesFromDb" value="@image.Boxes" style="display:none">
                    <div class="card mb-4 shadow-sm">
                        <img id="Image" class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(image.ImageData)" alt="Card image cap" style="display:none">
                        <canvas id="Canvas" width="500" height="500"></canvas>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form method="post" asp-action="LoadImage">
                                        <input type="hidden" name="Id" value="@image.Id" />
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">View/Edit</button>
                                    </form>
                                </div>
                                <label class="m-2">Id: @image.Id</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

<script src="~/js/new.js" asp-append-version="true"></script>